<section id="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <hr>
          <div class="initialimage">
          <h1 class="head-font">La Villa Italia</h1>
            <%= image_tag("Roman Columns.jpg", class: "Columns") %>
          </div>
        <hr>
      </div>
    </div>
  </div>
</section>

<section id="rest-photo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="winerack">
          <%= image_tag("wine-rack.jpg", class: "WineRack") %>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="menu-button">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="menubutton"><a href="/home">Home</a></p>
      </div>
    </div>
  </div>
</section>
<br>
<br>

<section id="menucontents">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-sm-6">
        <p class="topofmenu"> -6 course menu- </p>
          <hr>
        <p class="menutitle"> Brochette With Bread </p>
          <p class="menucontents"> Ripe plum tomatoes, garlic, extra virgin olive oil, balsamic vinegar and basil sliced thinly with salt and pepper for taste. Served on fresh baked herb Focaccia bread. </p>
          <hr>
        <p class="menutitle"> Mushroom Risotto </p>
          <p class="menucontents"> Homemade chicken broth, olive oil, hand picked portobello and wild mushrooms, with shallots and Arborio rice. Flavoured with dry white wine, butter, parmesan cheese, and salt and pepper to taste. </p>
          <hr>
        <p class="menutitle"> Shrimp and Scallop Linguine </p>
          <p class="menucontents"> Linguine with wild pacific shrimp and scallops pan fried in garlic butter, with lemon juice and dry white wine sauce. Garnished with fresh basil, parsley, and salt and pepper to taste. </p>
          <hr>
        <p class="menutitle"> Caprese Salad </p>
          <p class="menucontents"> Fresh sun ripe tomatoes, mozzarella cheese, basil leaves cut into neat thin ribbons, drizzled with olive oil. Seasoned with salt and pepper to taste.  </p>
          <hr>
        <p class="menutitle"> Cheese and Fruit Board </p>
          <p class="menucontents"> For the cheese lover- A delicious assortment of mozzarella, Gargonzola, Galbanino, and fratchet cheeses. Paired with fresh lemon, red grapes, and strawberries. </p>
          <hr>
        <p class="menutitle"> Blueberry and Raspberry Tiramusu </p>
          <p class="menucontents"> Our homemade light and fluffy ladyfinger cake. Topped with rum, coffee, and sugar, dusted with coco powder and topped with fresh raspberries and blueberries. </p>
          <hr>
        <p class="finalprice"> $85.00 after applicable taxes, does not include gratuity. </p>
      </div>
    </div>
  </div>
</section>