<section id="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <hr>
          <div class="initialimage">
            <%= image_tag("TOP.png", class: "Columns") %>
          </div>
          <h1 class="head-font">La Villa Italia</h1>
          <div class="initialimage">
            <%= image_tag("BOTTOM.png", class: "Columns") %>
        <hr>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="rest-photo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="patioshot">
          <%= image_tag("fenouil-patio.jpg", class: "Patio") %>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<section id="rest-description">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-sm-4">
        <p class="description"> Welcome to La Villa Italia, an authentic family Italian Restaurant located in Victoria's waterfront, pedestrian friendly tourist district, near downtown and the inner harbour on Government Street. Seating up to 150 people, locals and tourists alike enjoy our patio all times of the year.</p>
        <br>
        <p class="description"> We serve a full range of inspriing Italian dishes with fresh, homemade pasta, garden vegetables, and pizza dishes.</p>
        <br>
        <p class="description"> All dishes can be paired with a fine wine of your choice from our QVA selection.</p>
        <br>
        <p class="description"> You can book online, call in, or simply walk in.</p>
        <br>
        <p class="description"> We are open from 10AM - 9PM Monday to Saturday. Closed on Sunday.</p>
        <br>
      </div>
    </div>
  </div>
</section>





