// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headaddition {
  font-family: Italiana;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.menutitle {
  font-family: Italianno;
  font-size: 50px;
  text-align: center;
}

.menucontents {
  font-family: Italiana;
  text-align: center;
  font-style: italic;
}

.menubutton {
  font-family: Italianno;
  text-align: center;
  font-size: 35px;
}

.WineRack {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
}

.finalprice {
  font-family: Italianno;
  text-align: center;
  font-size: 20px;
}

.topofmenu {
  font-family: Italiana;
  text-align: center;
  font-size: 35px;
}